.countries {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem;

  @include responsiveMax($phone) {
    justify-content: center;
  }
}

.country {
  background: $white;
  width: 25rem;
  font-size: 1.2rem;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.1);

  @include responsiveMax($phone) {
    width: 50rem;
  }

  @include darkMode() {
    background-color: $darkColorElements;
  }

  &--img {
    min-height: 15rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    // background: no-repeat center;
    // background-size: cover;
    &-flag {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
      height: 100%;

      @include responsiveMin($table) {
        height: 15rem;
      }
    }
  }

  &--info {
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    padding-bottom: 3rem;
    font-weight: 600;

    & span {
      font-weight: 300;
    }
    & > * {
      margin-bottom: 0.7rem;
    }
    &-name {
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 1.3rem;
    }
  }
}
