// Light colors
$lightColorBackground: hsl(0, 0%, 98%);
$lightColorElements: hsl(0, 0%, 52%);
$lightColorText: hsl(200, 15%, 8%);
$white: hsl(0, 0%, 100%);

// Dark colors
$darkColorBackground: hsl(207, 26%, 17%);
$darkColorElements: hsl(209, 23%, 22%);

//Styles
$defaultPadding: 4rem 4rem;
